@import url("./mediaqueries.css"); /* importation de la page css qui contient les mediaqueries*/

* {
    font-family: 'Ubuntu', sans-serif; /*attribue la police à tous les élements de la page*/
}

body {
    background-color: #9fbd92; /*attribue cette couleur de fond au body*/
}
/*nav*/

.navbar-dark .navbar-nav .nav-link {
    color: #000; /*attribue la couleur noire au text de la navbar*/
    font-size: 22px; /*attribue cette taille de police au texte de la navbar*/
}

#header {
	position: fixed; /*fixe la navbar*/
	left: 0;
	top: 0;
	right: 0;
	transition: all 0.5s;
	z-index: 997;
}

.header {
    background: radial-gradient(circle, #4c3d33, #65544d, #7f6c68, #988684, #b2a1a1) center top no-repeat;
}

.header-alt {
	padding: 38px 0;
    background: radial-gradient(circle, #4c3d33, #65544d, #7f6c68, #988684, #b2a1a1) center top no-repeat;
    transition: all 0.5s;
}


.navbar-collapse, .navbar-collapse a {
    text-align: right;
    justify-content: center;
}
/*nav*/

/*INDEX*/
/********accueil********/
#accueil-img {
    background-image: url('https://nsa40.casimages.com/img/2019/03/08/190308092025915230.png');
    margin-top: 11rem;
    background-repeat: no-repeat;
    background-position: bottom 0 center;
    height: 69vh;
}

#accueil h1 {
    font-size: 65px;
    margin-top: 16rem;
    color: #000;
}

#accueil p {
    display: table;
    margin: auto;
    margin-bottom: 17rem;
    font-size: 27px;
    color: #000;
}

/********presentation********/

#presentation h2 {
    color: #4C3D33 !important;
    margin-top: 2rem;
    font-size: 50px;
    display: flex;
    margin: auto;
    justify-content: center;
}

#presentation .sous-titre {
    display: flex;
    margin: auto;
    justify-content: center; 
    font-weight: bold;
}

#centergraph {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#presentation p {
    display: flex;
    margin: auto;
    justify-content: center; 
    text-align: justify;
}

#presentation .carousel-inner img {
    width: 100%;
    height: 100%;
    margin-top: 15rem;
	margin-bottom: 3rem;
}

#presentation .carousel-indicators li {
    background-color: #000!important;
    height: 5px;
}
#presentation ul li {
    text-align: justify;
    list-style-type: none;
    margin: 2rem;
}

#centergraph + p {
    margin-left: 5rem;
    margin-right: 2rem;
}
/********presentation********/
/*INDEX*/
/*ARTICLES*/

#accueil-articles {
    background-color: #4C3D33;
    padding-bottom: 15rem;
}

.console-container {
    font-size: 6em;
    text-align: center;
    height: 200px;
    width: 600px;
    display: block;
    margin: auto;
    margin-top: 21rem;
}

#articles h2 {
    margin-top: 3rem;
}

#articles .btn-danger {
    background-color: #fff;
    border-color: #4C3D33;
    color: #4C3D33;
}

#articles .btn-primary {
    background-color: #4C3D33;
    color: #fff;
    border-color: #4C3D33;
}

.modal-body ul li {
    list-style-type: none;
    padding: 2rem;
    text-align: justify;
}

.modal-body h3 {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #4C3D33;
}

#articles .btn-primary a {
    color: #fff;
}

#articles span {
    color: #9fbd92;
}

#articles-footer {
    margin-top: 2rem;
}
/*ARTICLES*/
/*PLANIFICATEUR*/
#accueil-planificateur {
    background-color: #4C3D33;
    padding-bottom: 8rem;
}

#planificateur p, #planificateur h1 {
    display: flex;
    margin: auto;
    text-align: center;
}

#planificateur p {
    margin-top: 1rem;
}

#planificateur img {
    height: 400px;
    width: 401px;
    display: flex;
    margin: auto;
}
/*footer*/
.page-footer {
    background-color: #4C3D33;
}

.page-footer a, .page-footer a:hover {
    color: #fff;
    text-decoration: none;
}

.page-footer p {
    color: #fff;
}
/*footer*/