/*titres*/

h1 {
    font-family: "WESLONA";
    font-size: 141px;
    margin-top: 13rem;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

#agir h1, #contact h1, #presentation h1, #acteurs h1 {
    color: #A8854A !important;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 2rem;
    font-size: 83px;
    display: flex;
    margin: auto;
    text-shadow: unset;
    justify-content: center;
}

#contact h1 {
    padding-top: 2rem;
}


/*nav*/

.navbar-dark {
    background-color: #A8854A !important;
}

* {
    font-family: 'Ubuntu', sans-serif;
}

/*intro*/

#intro {
    background-image: linear-gradient(to bottom, #69ba4caa, #65cb4aaa, #5fdc48aa, #54ed46aa, #41ff44aa);
    height: 100%;
}

#intro-color {
    background-image: url("https://nsa40.casimages.com/img/2019/03/06/190306101256668808.png");
    background-repeat: no-repeat;
    background-position: bottom 0 center
}

a {  
   color: #000;
}

a:hover {
    text-decoration: none;   
    color: #fff;
}

#intro p {
    display: table;
    margin: auto;
    margin-bottom: 17rem;
    font-size: 27px;
}
/* presentation */

#marge-carroussel
{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#presentation a, #presentation a:hover
{
	text-decoration: none;
	color: #000;
}

#centergraph
{
	display:flex;
	justify-content: center;
}
/*agir*/
#agir .container-fluid {
    padding-top: 2rem;
}


#agir h2 {
    display: table;
    margin: auto;
    padding-bottom: 1rem;
}
#agir .container {
    border: solid 4px #A8854A;
    border-radius: 10px;
    padding: 68px;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

#agir ul {
    list-style-type: none;
    text-align: justify;
}

#agir h3 {
    margin-top: 3rem;
}

/*acteurs*/

#sous-titre {
    font-weight: bold;
    display: flex;
    margin: auto;
    text-align: center;
    padding-bottom: 2rem;
}
h1 span {
    color: #69ba4caa;
}

#acteurs h2 {
    margin-top: 4rem;
    margin-bottom: 7px;;
    color: #A8854A;
    border: solid 1px #A8854A;
    padding: 7px;
}

#acteurs h2 + p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 2rem;
}

#acteurs ul {
    width: 40%;
    list-style-type: none;
    display: flex;
    margin: auto;
    padding: 0;
    margin-bottom: 2rem;
}

#acteurs .dropdown button {
    display: block;
    margin: auto;
    background-color: #A8854A;
    border: 1px solid #A8854A;
    font-size: 20px;
    margin-bottom: 2rem;
}

#acteurs .dropdown-menu {
    background-color: #A8854A;
    color: #fff;
}

#acteurs .card {
    margin-top: 2rem;
}
#moteurs {
    background-color: #EBEBEB;
}

#acteurs .container-fluid {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

#acteurs .btn-primary {
    background-color: #A8854A;
    border-color: #A8854A;
    display: flex;
    margin: auto;
}

#acteurs .btn-danger {
    background-color: #fff;
    border-color: #A8854A;
    color: #A8854A;
}

#acteurs .modal-body {
    text-align: justify;
    font-size: 19px;
    padding: 5rem;
}

#acteurs #annuaire {
    background-color: #EBEBEB;
}

#acteurs #annuaire .btn-light {
    background-color: #A8854A;
    color: #fff;
    margin-bottom: 2rem;
}

#annuaire .btn a {
    color: #fff;
    font-size: 20px;
}

#annuaire span {
    color: #69ba4c;
}
/*contact*/
#contact input {
    color: #A8854A;
}
.contact-form{
    background: #A8854A;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #000;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #fff;
    font-weight: 600;
    color: #A8854A;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #A8854A;
    border: none;
    cursor: pointer;
}
/*contact*/
/*footer*/
.page-footer {
    background-color: #A8854A;
}

.page-footer p {
    color: #fff;
}